body {
  font-family: "Lato";
  margin-right: 10%;
  margin-left:  10%;
}

HR {
  border-top: solid;
}

.publi {
  font-family: "Lato";
  line-height: 1.618em;
}

.publi auteurs{}
.publi li
{
  margin-bottom: 1em;
}
.publi a
{
  text-decoration: none;
  color: #101010;
}
.publi titre{
  font-style: bold;
  text-decoration: underline;
}
.publi journal{
}
.publi volume{
  font-style: bold;
}
.publi number{
}
.publi year{
}
.publi pages{
}
.publi abstract{
  font-style: italic;
  color: #244052;
}
.publi abstract a {
  color: #903030;
}

#title {
  font-family: 'Roboto Slab';
  padding-left: .2em;
}

#subtitle {
  font-family: 'Lato';
  padding-left: .2em;
}

#top{
}

#left{
  float: left;
  width: 100%;
}

#menu ul{
  line-height: 2em;
  padding-left: .2em;
  width: 50%
}

#menu ul li{
  display: inline;
  padding: .4em;
}

#menu a {
  color: #0000EE;
  background: #EAECEE ;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
}

#menu .selected a {
  color: #F00000;
  background: #FAF0E6;
}

#photo{
  float: right;
  margin: 1%;
  width: 10%;
  vertical-align: top;
}

#top h1{
  color: #030363;
}

#main{
  margin-top: 1%;
  margin-bottom: 1%;
}

#bottom{
  float: left;
  width: 100%;
}

#foot{
  text-align: right;
  padding-right: .2em;
}

.section{
  font-family: "Lato";
  line-height: 1.5em;
  margin-bottom: 2em;
  padding-left:  .2em;
  padding-right: .2em;
  text-align: justify;
}

/* Toggle content */

/* Hiddes checkbox */
input[type="checkbox"] {
    display: none;
}

/* Style of the label */
label {
    cursor: pointer;
    color: #0000EE;
}

/* Hidde content by default */
.content {
    display: none;
}

/* Show content when checkbox is marked */
input[type="checkbox"]:checked + .content {
    display: block;
}

summary {
    cursor: pointer;
    color: #0000EE;
}

details[open] summary {
}

@media only screen and (max-width: 850px) {
  #menu ul li{
  display: grid;
  }
}

@media all {
  .section {
    font-size: 20px;
  }
  #title {
    font-size: 40px;
  }
  #subtitle {
    font-size: 20px;
  }
  #menu {
    font-size: 20px;
  }
  #foot {
    font-size: 20px;
  }
}
@media all and (max-width:1000px) {
  .section {
    font-size: 18px;
  }
  #title {
    font-size: 36px;
  }
  #subtitle {
    font-size: 18px;
  }
  #menu {
    font-size: 18px;
  }
  #foot {
    font-size: 18px;
  }
}
@media all and (max-width:850px) {
  .section {
    font-size: 17px;
  }
  #title {
    font-size: 34px;
  }
  #subtitle {
    font-size: 17px;
  }
  #menu {
    font-size: 17px;
  }
  #foot {
    font-size: 17px;
  }
}
@media all and (max-width:720px) {
  .section {
    font-size: 16px;
  }
  #title {
    font-size: 32px;
  }
  #subtitle {
    font-size: 16px;
  }
  #menu {
    font-size: 16px;
  }
  #foot {
    font-size: 16px;
  }
}
@media all and (max-width:640px) {
  .section {
    font-size: 15px;
  }
  #title {
    font-size: 30px;
  }
  #subtitle {
    font-size: 15px;
  }
  #menu {
    font-size: 15px;
  }
  #foot {
    font-size: 15px;
  }
}
@media all and (max-width:600px) {
  .section {
    font-size: 14px;
  }
  #title {
    font-size: 27px;
  }
  #subtitle {
    font-size: 14px;
  }
  #menu {
    font-size: 14px;
  }
  #foot {
    font-size: 14px;
  }
}
@media all and (max-width:560px) {
  .section {
    font-size: 13px;
  }
  #title {
    font-size: 24px;
  }
  #subtitle {
    font-size: 13px;
  }
  #menu {
    font-size: 13px;
  }
  #foot {
    font-size: 13px;
  }
}
@media all and (max-width:520px) {
  .section {
    font-size: 12px;
  }
  #title {
    font-size: 20px;
  }
  #subtitle {
    font-size: 12px;
  }
  #menu {
    font-size: 12px;
  }
  #foot {
    font-size: 12px;
  }
}
