<!DOCTYPE html> 

<html>

<head>
<title>Felipe Arbulú's homepage</title>
<meta charset="utf-8">
<meta name="author" content="Felipe Arbulú">
<meta name="language" content="eng">
<meta name="description" content="Felipe Arbulú's homepage, PhD student at the Laboratoire de Mathématique Fondamental et Appliquée (LAMFA)">
<meta name="keywords" content="mathematics, dynamics, dynamical systems, ergodic theory, symbolic dynamics, felipe, arbulu, LAMFA, subshifts">
<link rel="stylesheet" type="text/css" href="style.css">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Roboto%20Slab' rel='stylesheet'>

<!-- LaTeX -->
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<title>{% block title %}Default title{% endblock %}</title>
{% block extra_header %}{% endblock %}
</head>

<body>

<table width="60%">
	<tbody>
		<tr>
			<td width="60%">
				<div id="title">
					<h1> Felipe Arbulú </h1>
				</div>
				<p>Laboratoire Amiénois de Mathématique Fondamental et Appliquée</p>
				<p>Université de Picardie Jules Verne</p>
			</td>
			<td align="right">
				<img src="photo.jpg" alt="photo" height="200" border="0">
			</td>
		</tr>
	</tbody>
</table>

<div id="left">

<!-- Menu -->

<div id="menu">
<hr>
<ul>
{% for page in pages %}
<li>
<span class="{{ page.status }}">
<a href="{{ page.link }}">
{{ page.name }}
</a></span>
</li>
{% endfor %}
</ul>
<hr>
</div> <!-- end menu -->

<div id="main">
{% block body %}
My body
{% endblock %}
</div>

<hr>
<p style="text-align:right">
Last updated {{pages[0].last_update}}
</p>

</div>  <!-- end left -->

</body>
</html>
