<!DOCTYPE html> 

<html>

<head>
<title>Felipe Arbulú</title>
<meta charset="utf-8">
<meta name="author" content="Felipe Arbulú">
<meta name="language" content="eng">
<meta name="description" content="Felipe Arbulú's homepage">
<meta name="keywords" content="mathematics, dynamics, dynamical systems, ergodic theory, symbolic dynamics, felipe, arbulu, LAMFA, subshifts">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Roboto%20Slab' rel='stylesheet'>
<link rel="icon" type="image/png" href="greatstellateddodecahedron.png">
<script src="https://kit.fontawesome.com/1110fda9f4.js" crossorigin="anonymous"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<title>{% block title %}Default title{% endblock %}</title>
{% block extra_header %}{% endblock %}
</head>

<body>
<table width="100%", height="100">
	<tbody>
		<tr>
			<td width="50%">
				<div id="title">
					Felipe Arbulú
				</div>
				<div id="subtitle">
					<p> Laboratoire Amiénois de Mathématique Fondamental et Appliquée </p>
					<p> Université de Picardie Jules Verne </p>
				</div>
			</td>
			<td width="50%" align="right" style="padding-right: .5em;">
				<img src="photo.jpeg" alt="photo" height="140" border="0">
			</td>
		</tr>
	</tbody>
</table>

<div id="left">

<!-- Menu -->

<div id="menu">
<hr>
<ul>
{% for page in pages %}
<li>
<span class="{{ page.status }}">
<a href="{{ page.link }}">
{{ page.name }}
</a></span>
</li>
{% endfor %}
</ul>
<hr>
</div> <!-- end menu -->

<div id="main">
{% block body %}
My body
{% endblock %}
</div>

<hr>
<div id="foot">
<p>
Last updated {{pages[0].last_update}}
</p>
</div>

</div>  <!-- end left -->

</body>
</html>
