{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block body %}

<div class="section">

<p>
<i class="fa-solid fa-briefcase fa-lg"></i>&nbsp;
<a href="https://www.lamfa.u-picardie.fr/">LAMFA</a>,
Bâtiment C. Bureau 010
</p>

<p>
<i class="fa-solid fa-envelope fa-lg"></i>&nbsp;
farbulu
<i class="fa-solid fa-at fa-xs"></i>
u
<i class="fa-solid fa-minus fa-xs"></i>
picardie
<i class="fa-solid fa-circle dot"></i>
fr
</p>

<p>
<i class="fa fa-linkedin-square fa-xl"></i>&nbsp;
<a href="https://www.linkedin.com/in/felipe-arbulu-lopez/">
linkedin.com/in/felipe-arbulu-lopez
</a>
</p>

<p>
<i class="fa fa-telegram fa-xl"></i>&nbsp;
@farbulu
</p>

</div>
{% endblock %}