{% extends "base.html" %}

{% macro publication_coauthors(coauthors) %}
{% if coauthors %}
{% if coauthors|length == 1 %}
<auteurs>
with {{coauthors[0]}}
</auteurs>
{% endif %}
{% if coauthors|length == 2 %}
<auteurs>
with {{coauthors[0]}} and {{coauthors[1]}}
</auteurs>
{% endif %}
{% if coauthors|length > 2%}
<auteurs>
with {% for author in coauthors[:-2] %}{{ author }}, {% endfor %} {{coauthors[-2]}} and {{coauthors[-1]}}
</auteurs>
{% endif %}
<br/>
{% endif %}
{%- endmacro %}

{% macro publication_journal(pub, journals) %}
{% if pub.journal %}
<journal>
{{ journals[pub.journal]['full-name'] }}
{{ pub.volume }}
{% if pub.issue %}
, n° {{ pub["issue"] }}
{% endif %}
({{ pub["year"] }})
{% if pub.pages %}
pp. {{ pub.pages[0]}}–{{ pub.pages[1] }}
{% endif %}
</journal>
<br/>
{% endif %}
{%- endmacro %}

{% macro publication_doi(doi) %}
{% if doi %}
<journal>
<a href="https://doi.org/{{ doi }}">doi:{{ doi }}</a>
</journal>
<br/>
{% endif %}
{%- endmacro %}

{% macro publication_arxiv(arxiv) %}
{% if arxiv %}
<journal>
<a href="http://arxiv.org/abs/{{ arxiv }}">arXiv:{{ arxiv }}</a>
</journal>
<br/>
{% endif %}
{%- endmacro %}


{% block title %}Research{% endblock %}
{% block body %}

<!-- Publications section -->

<div class="section">
<h2>Publications</h2>
<p>
<ol reversed="true" class="publi">
{% for pub in publications %}
{% set abs_id = loop.index %}
<li>

{{ publication_coauthors(pub.coauthors) }}
<titre>"{{ pub.title }}"</titre>
<br/>

{{ publication_journal(pub, journals) }}
{{ publication_doi(pub.doi) }}
{{ publication_arxiv(pub.arxiv) }}

{% if pub.abstract %}
<label for={{abs_id}}>
Abstract.
</label>

<input type="checkbox" id={{abs_id}}>

<a class="content">
  <abstract>
  {{ pub.abstract }}
  </abstract>
</a>
{% endif %}
</li>
{% endfor %}
</ol>
</p>
</div>

<!-- Preprints section -->

{% if prepublications|length > 0 %}

<div class="section">
<h2>Preprints</h2>
<p>
<ul class="publi">
{% for pub in prepublications %}
{% set abs_id = loop.index %}
<li>

{{ publication_coauthors(pub.coauthors) }}

<titre>"{{ pub.title }}"</titre>
<br/>

{{ publication_arxiv(pub.arxiv) }}

{% if pub.abstract %}
<label for={{abs_id}}>
Abstract.
</label>

<input type="checkbox" id={{abs_id}}>

<a class="content">
  <abstract>
  {{ pub.abstract }}
  </abstract>
</a>
{% endif %}

</li>
{% endfor %}
</ul>
</p>
</div>

{% endif %}

<!-- Conference articles -->

<!-- <div class="section">
<h2>Conference articles</h2>
<ol reversed="true" class="publi">
{% for pub in conference_papers %}
<li>
{{ publication_coauthors(pub.coauthors) }}

<titre>"{{ pub.title }}"</titre>
<br/>
{{ pub.name }}
<br/>

{{ publication_journal(pub, journals) }}

{{ publication_arxiv(pub.arxiv) }}

{% if pub.abstract %}
<abstract>
{{ pub.abstract }}
</abstract>
{% endif %}
</li>
{% endfor %}
</ol>
</p>
</div> -->

<!-- Talks in conferences -->

<div class="section">
<h2>Talks</h2>
<p>
<h3>Conferences</h3>
{% for talk in talks %}
{% if talk.type == "conference" %}

<ul>
<li>

<titre>"{{ talk.title }}"</titre>
<br/>

<!-- TODO: put slides, if they are available -->

<a href={{talk.website}}>{{ talk.name }} </a> <br/>
{{ talk.date }}, {{talk.place }} ({{talk.city }}, {{talk.country}})
<br/>

</li>
</ul>
{% endif %}
{% endfor %}
</li>

<h3>Seminars</h3>
{% for talk in talks %}
{% if talk.type == "seminar" %}

<ul>
<li>

<titre>"{{ talk.title }}"</titre>
<br/>

<!-- TODO: put slides, if they are available -->

<a href={{talk.website}}>{{ talk.name }} </a> <br/>
{{ talk.date }}, {{talk.place }} ({{talk.city }}, {{talk.country}})
<br/>

</li>
</ul>
{% endif %}
{% endfor %}
</li>
</p>

</div>  <!-- end of section -->

<!-- Thesis -->

<!-- <div class="section">
<h2>Thesis</h2>
<p>
Thesis
</p>
</div> -->

<!-- Organization of conferences, ... -->

<!-- <div class="section">
<h2>Conferences</h2>
<ul>
  <li>An item</li>
  <li>Another item</li>

</div>  -->

{% endblock %}
