body {
  font-family: "Lato";
  margin-right: 10%;
  margin-left:  10%;
}

HR {
  border-top: solid;
}

.publi {
  font-family: "Lato";
  line-height: 1.618em;
}

.publi auteurs{}
.publi li
{
  margin-bottom: 1em;
}
.publi a
{
  text-decoration: none;
  color: #101010;
}
.publi titre{
  font-style: bold;
  text-decoration: underline;
}
.publi journal{
}
.publi volume{
  font-style: bold;
}
.publi number{
}
.publi year{
}
.publi pages{
}
.publi abstract{
  font-style: italic;
  color: #244052;
}
.publi abstract a {
  color: #903030;
}

#title {
  font-family: 'Roboto Slab';
  padding-left: .5em;
}

#top{
}

#left{
  float:left;
  width: 100%;
}

#menu ul{
  line-height: 2em;
  padding-left: .2em;
}

#menu ul li{
  display: inline;
  padding: .5em;
}

#menu a {
  color: #0000EE;
  background: #EAECEE ;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
}

#menu .selected a {
  color: #F00000;
  background: #FAF0E6;
}

#photo{
  float: right;
  margin: 1%;
  width: 10%;
}

#top h1{
  color: #030363;
}

#main{
  margin-top: 1%;
  margin-bottom: 1%;
}

#bottom{
  float: left;
  width: 100%;
}

.section{
  font-family: "Lato";
  line-height: 1.5;
  margin-bottom: 2em;
  padding-left:  .5em;
  padding-right: .5em;
  text-align: justify;
}

.section .TD{
  font-family: "Lato";
  margin-bottom: 2.3em;
}

/* Toggle content */

/* Hiddes checkbox */
input[type="checkbox"] {
    display: none;
}

/* Style of the label */
label {
    cursor: pointer;
    color: #0000EE;
}

/* Hidde content by default */
.content {
    display: none;
}

/* Show content when checkbox is marked */
input[type="checkbox"]:checked + .content {
    display: block;
}

summary {
    cursor: pointer;
    color: #0000EE;
}

details[open] summary {
}
